.content__wrapper {
  background-color: #fff;
  padding: 20px 20px 20px 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;

  .left__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    .title {
      font-size: 65px;
      padding-bottom: 20px;
    }

    .para {
      font-size: 16px;
      padding-bottom: 20px;
    }

    .check__points {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 50px;

      .point {
        display: flex;
        align-items: center;
        gap: 10px;

        .check__name {
          font-size: 16px;
        }
      }
    }

    .form__label {
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 10px;
    }

    .email__input {
      padding: 15px;
      border-radius: 5px;
      border: 2px solid #ccc;
      margin-bottom: 30px;

      &:focus {
        border: none;
      }
    }

    .submit__button {
      all: unset;
      cursor: pointer;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      background-color: hsl(9.23, 100%, 64.31%);
      padding: 15px;
      border-radius: 5px;
      text-align: center;
    }
  }

  .right__wrapper {
    width: 50%;

    .image {
      width: 100%;
    }
  }
}
